<div id="header" class="bg1">
  <div id="topnav">
    <ul>
      <li><a href={{ page.blog }}>blog</a></li>
    </ul>
  </div>

  <div id="topnavLeft">
    <ul>
      <li><a href={{ page.cv }}>CV</a></li>
    </ul>
  </div>

  <div id="headerblob">
    <img src="./img/me.jpg" class="img-circle imgme">
    <div id="headertext">
      <div id="htname">{{ page.title }}</div>
      <div id="htdesc">{{ page.subTitle }}</div>
      <div id="htem">{{ page.email }}</div>
      <div id="icons">
        {% for social in page.social %}
        <div class="svgico">
          <a href="{{ social.url }}"><i class="fa fa-{{ social.title }} fa-lg" style="color:white"></i></a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>