<!-- jQuery Version 1.11.0 -->
<script src="js/jquery-1.11.0.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>


<!-- ******************** -->
<!-- More Projects button -->
<!-- ******************** -->
<script>
var more_projects_shown = false;
function start() {
  $("#showmoreprojects").click(function() {
    if(!more_projects_shown) {
      $("#moreprojects").slideDown('fast', function() {
        $("#showmoreprojects").text('Less');
      });
      more_projects_shown = true;
    } else {
      $("#moreprojects").slideUp('fast', function() {
        $("#showmoreprojects").text('More');
      });
      more_projects_shown = false;
    }
  });

  var more_pubs_shown = false;
  $("#showmorepubs").click(function() {
    if(!more_pubs_shown) {
      $("#morepubs").slideDown('fast', function() {
        $("#showmorepubs").text('Less');
      });
      more_pubs_shown = true;
    } else {
      $("#morepubs").slideUp('fast', function() {
        $("#showmorepubs").text('More');
      });
      more_pubs_shown = false;
    }
  });

}
</script>


<!-- ******************** -->
<!-- Modal Java Script -->
<!-- ******************** -->
<script>

 // Open the Modal
function openModal(idx) {
  document.getElementById('myModal_' + idx).style.display = "block";
}

// Close the Modal
function closeModal(idx) {
  document.getElementById('myModal_' + idx).style.display = "none";
}

</script>