<!-- Page Content -->
<div class="container">
  <div id="timeline">
    <div class="timelineitem">
      <div class="tdate">2012 - </div>
      <div class="ttitle">Stanford Aero/Astro: PhD Candidate</div>
      <div class="tdesc"> Focus on <span class="thigh">Decision Making under Uncertainty</span>.</div>
    
    </div>
    <div class="timelineitem">
      <div class="tdate">2010-</div>
      <div class="ttitle">Zee.Aero</div>
      <div class="tdesc">Guidance Navigation & Controls Engineer</div>
    </div>
    <div class="timelineitem">
      <div class="tdate">2008-2010</div>
      <div class="ttitle">Stanford Aero/Astro: Masters of Science</div>
      <div class="tdesc">Outstanding Student Award</div>
    </div>
    <div class="timelineitem">
     <div class="tdate">2004-2008</div>
      <div class="ttitle">McGill University: Bachelors of Engineering</div>
      <div class="tdesc">Mechanical Engineering major, Computer science minor</div>
    </div>
  </div>
</div>

<div class="container quote">
  <blockquote>
“The real voyage of discovery consists not in seeking new landscapes,<br> but in having new eyes.” ― Marcel Proust
  </blockquote>
</div>

<hr class="soft">

<div class="container">
  <h2>Projects</h2>
  <div id="pubs">

{% for post in site.posts  %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}

   {% if forloop.index == 2 %}
    <div class="showmore" id="showmorepubs">
    More
    </div>
    <div id="morepubs">
   {% endif %}

    <div class="pubwrap">
      <div class="row">
        <div class="col-md-6">
          <div class="pubimg">
          <img width="300px" src="img/projects/{{ post.img }}">
          </div>
        </div>
        <div class="col-md-6">
          <div class="pub">
            <div class="pubt">{{ post.title }}</div>
            <div class="pubd">{{ post.description }}</div>
            <div class="puba">{{ post.authors }}</div>
            <div class="pubv">{{ post.venue }}</div>
            <div class="publ">
              <ul>{% for link in post.links %}
                  <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                  {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

   {% if forloop.index == 2 %}
    </div>
   {% endif %}

{% endfor %}


  </div>
</div>