<!-- Page Content -->
<div class="container">
  <h1>Career Timeline</h1>
  <div id="timeline">
    <div class="timelineitem">
      <div class="tdate">2016 - Present</div>
      <div class="ttitle">Kitty Hawk</div>
      <div class="tdesc">Head of Product - Technical</div>
    </div>
    <div class="timelineitem">
      <div class="tdate">2012 - 2016</div>
      <div class="ttitle">Stanford University</div>
      <div class="tdesc">Ph.D. in Aeronautics</div>
      <div class="tdesc"> Thesis: <span class="thigh">Automated ATC for Non-Towered Airports</span></div>
      <div class="tdesc"> Topics: <span class="thigh">Markov Process, Machine Learning</span></div>
    </div>
    <div class="timelineitem">
      <div class="tdate">2012 - 2016</div>
      <div class="ttitle">Zee.Aero</div>
      <div class="tdesc">Guidance Navigation & Controls Engineer</div>
    </div>
    <div class="timelineitem">
      <div class="tdate">2010 - 2012</div>
      <div class="ttitle">Zee.Aero</div>
      <div class="tdesc">Software & Avionics Lead</div>
    </div>
    <div class="timelineitem">
      <div class="tdate">2008 - 2010</div>
      <div class="ttitle">Stanford Aero/Astro: Masters of Science</div>
      <div class="tdesc">Outstanding Student Award</div>
    </div>
    <div class="timelineitem">
     <div class="tdate">2004 - 2008</div>
      <div class="ttitle">McGill University: Bachelors of Engineering</div>
      <div class="tdesc">Mechanical Engineering, Computer Science minor</div>
    </div>
  </div>
</div>

<!-- <div class="container quote">
  <blockquote>
“The real voyage of discovery consists not in seeking new landscapes,<br> but in having new eyes.” ― Marcel Proust
  </blockquote>
</div> -->
<br>

<hr class="soft">
<div class="container">
  <h2>Projects & Publications</h2>
  <div id="pubs">

{% for post in site.posts  %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}

   {% if forloop.index == 100 %}
    <div class="showmore" id="showmorepubs">
    More
    </div>
    <div id="morepubs">
   {% endif %}

    <div class="pubwrap">
      <div class="row">
        <div class="col-md-6">
          <div class="pubimg">
          <img width="350px" src="img/projects/{{ post.img }}">
          </div>
        </div>
        <div class="col-md-6">
          <div class="pub">
            <div class="pubt">{{ post.title }}</div>
            <div class="pubd">{{ post.description }}</div><br>
            <div class="puba">{{ post.authors }}</div>
            <div class="pubv">{{ post.venue }}</div>
            <div class="publ">
              <ul>{% for link in post.links %}
                  <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                  {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

   {% if forloop.index == 100 %}
    </div>
   {% endif %}

{% endfor %}


  </div>
</div>